<section class="grid-container">
  <h1 class="text-center">My reading list</h1>
  <form>
    <div class="grid-x grid-padding-x">
      {{!-- display name --}}
      <div class="small-12 cell">
        <input type="text" id="item_name" name="item_name" placeholder="Enter a title...">
      </div>
      {{!-- extended info --}}
      <div class="small-12 cell">
        <input type="text" id="item_description" name="item_description" placeholder="Enter a description, or URL...">
      </div>

    </div>
    <div class="grid-x grid-padding-x">
      <div class="large-12 cell text-center">
        <button id="add" class="success button" type="submit">add to list</button>
      </div>
    </div>
  </form>
</section>

{{!-- lists --}}
<section class="grid-container">
  <div class="grid-x grid-padding-x">
    <div class="small-12 medium-6 cell">
      <h1>Reading list</h1>
      <div class="grid-x grid-padding-x">
        <ul id="havent-read">
          {{#each item}} {{#unless is_complete}} {{> items/item-li is_complete=false}} {{/unless}} {{/each}}
        </ul>
      </div>
    </div>
    <div class="small-12 medium-6 cell">

      <h1>Recent reads</h1>
      <div class="grid-x grid-padding-x">
        <ul id="have-read">
          {{#each item}} {{#if is_complete}} {{> items/item-li is_complete=true}} {{/if}} {{/each}}
        </ul>
      </div>
    </div>
  </div>
</section>