  <section class="grid-container">
    <h1 class="text-center">My reading list</h1>
    <h1 class="text-center">Login</h1>
    <!-- <form> -->
      <div class="grid-x grid-padding-x">
        <div class="small-12 cell">
          <input type="text" id="username" name="username" placeholder="Enter a name for your list">
        </div>
        <div class="small-12 cell">
          <input type="text" id="email" name="email" placeholder="Enter your email address">
        </div>
  
      </div>
      <div class="grid-x grid-padding-x">
        <div class="large-12 cell text-center">
          <button id="login" class="success button" type="submit">log in</button>
        </div>
      </div>
    <!-- </form> -->
  </section>